html[data-theme="theme1"] {
  --color-primary: #2d2d2d; /* background*/
  --color-secondary: #fff;
  --color-buttons: #fe5829;
  --color-typography: #fff;
}

html[data-theme="theme2"] {
  --color-primary: #aa00ff;
  --color-secondary: #FF4500;
  --color-buttons: #5c005c;
  --color-typography: #fff;
}

html[data-theme="theme3"] {
  --color-primary: #8B008B;
  --color-secondary: #FF6347;
  --color-buttons: #FF6347;
  --color-typography: #000;
}
