@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --color-primary: #fff; /* background*/
    --color-secondary: #000;
    --color-buttons: #fe5829;
    --color-typography: #000;
  }

  @import "../styles/themes/themes.css";
}
